<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>실습<br> <%= 1 + 2 %><br>
	<%= "cow" + "boy" %><br>
	<%= 1.hour.from_now %><br>
	<ul>
	<% for file in @files %>
		<li>file name is <%= file %></li>
	<% end %>
	</ul>
</p>